@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-light-menu {
    background-color: var(--background-color-light);
  }
  .dark .bg-dark-menu {
    background-color: var(--background-color-dark);
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background-color-dark: #121212;
  --background-color-light: #ffffff;
  --foreground-color-dark: #ffffff;
  --foreground-color-light: #121212;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--foreground-color-light);
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--foreground-color-dark);
}
