@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-light-menu {
    background-color: var(--background-color-light);
  }
  .dark .bg-dark-menu {
    background-color: var(--background-color-dark);
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background-color-dark: #121212;
  --background-color-light: #ffffff;
  --foreground-color-dark: #ffffff;
  --foreground-color-light: #121212;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--foreground-color-light);
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--foreground-color-dark);
}

.rc-anchor-light,
.rc-anchor-invisible,
.rc-anchor-normal-footer,
.rc-anchor-invisible-text,
.rc-anchor-pt,
.rc-anchor-aria-status,
.rc-anchor-error-msg-container,
.rc-anchor-invisible-nohover,
.grecaptcha-badge {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  position: fixed !important;
  z-index: -1 !important;
}

@keyframes dropPin {
  0% {
    opacity: 0;
    transform: translate(-50%, -200%);
  }
  60% {
    transform: translate(-50%, -30%);
  }
  80% {
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
